<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>大连仟源科技官方网站</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="../plugins/swiper/swiper.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<style type="text/css">
			.nav_li .about_link {
				color: #00d3ff;
			}
		</style>
	</head>
	<body id="body" class="pb-5 about_page">
		<div class="nav_iframe wrap_bg-image fixed-top"></div>
		<!--<iframe src="nav.html" width="100%" height="70px" frameborder="0" scrolling="no" name="about" class="nav_iframe wrap_bg-image about_nav-bg fixed-top"></iframe>-->
		<div class="about_us wrap_bg-image mb-4">
			<div class="container p-3 pt-4 pb-4">
				<div class="words text-center p-3 pl-sm-5 pr-sm-5 animate_el">
					<div class="mb-3 mb-sm-5">
						<div><p class="p-2 pl-4 pr-4 p-sm-3 mb-sm-1 h6">关于我们</p></div>
						<small>about us</small>
					</div>
					仟源科技立足大连面向全国，现已成功为行动成功集团、上海纺织集团、欧迪芬集团、中铁建电气化局集团、宇度医药集团、光芒集团、师道人本、迈能高科、凯 纳营销、鸿轩农业、鸿锦酒店、名唐有机粤菜、厨牛餐饮、HABA、华信控股、美工场家居、唯优家居、松江商业总公司、余天成医药、名威物流、宇恒地产、珠江地产、异通传媒等1000余家国内外知名企业提供了网络应用服务。
				</div>
			</div>
		</div>
		<div class="about pt-4 pb-4 pt-sm-0 pb-sm-0">
			<div class="container">
				<div class="swiper-container animate_el">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="bg" style="background-image: url(../images/home/about1.jpg);"></div>
						</div>
						<div class="swiper-slide">
							<div class="bg" style="background-image: url(../images/home/about2.jpg);"></div>
						</div>
						<div class="swiper-slide">
							<div class="bg" style="background-image: url(../images/home/about3.jpg);"></div>
						</div>
						<div class="swiper-slide">
							<div class="bg" style="background-image: url(../images/home/about4.jpg);"></div>
						</div>
						<div class="swiper-slide">
							<div class="bg" style="background-image: url(../images/home/about5.jpg);"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="pt-4 pb-4 pt-sm-0 pb-sm-0">
			<div class="container animate_el">
				<div class="title mb-4 text-center">
					<p class="h5 mb-2 mb-sm-3">服务流程</p>
					<span class="text-light">一站式的定制性服务的流程</span>
				</div>
				<div class="process position-relative">
					<div class="row justify-content-between">
						<div class="col-4 position-relative text-center">评估需求</div>
						<div class="col-4 position-relative text-center">页面设计</div>
						<div class="col-4 position-relative text-center">程序开发</div>
						<div class="col-4 position-relative text-center">内部测试</div>
						<div class="col-4 position-relative text-center">上线部署</div>
						<div class="col-4 position-relative text-center">造作培训</div>
					</div>
					<hr class="d-none d-sm-block m-0"/>
					<div class="row justify-content-between">
						<div class="col-4 position-relative text-center">签订协议</div>
						<div class="col-4 position-relative text-center">设计确认</div>
						<div class="col-4 position-relative text-center">系统调整</div>
						<div class="col-4 position-relative text-center">验收通过</div>
						<div class="col-4 position-relative text-center">交付确认</div>
						<div class="col-4 position-relative text-center">售后服务</div>
					</div>
				</div>
			</div>
		</div>
		<div class="pt-4 pb-4 pt-sm-0 pb-sm-0">
			<div class="contact container animate_el">
				<div class="title mb-4 text-center">
					<p class="h5 mb-2 mb-sm-3">联系我们</p>
					<span class="text-light">总部联系方式</span>
				</div>
				<div class="row">
					<div class="words col-12 p-3 col-md-6 d-flex flex-column justify-content-between">
						<div>
							<p>仟源科技</p>
							<hr />
							<p>地址：辽宁省大连市西岗区黄河路118号长江杰座B座2801 </p>
							<p>邮编：116011</p>
							<p>客户服务热线：400-114-6676 </p>
							<p>网址(Web)：www.haiwei007.com </p>
							<p>商务合作邮箱：2182566242@qq.com</p>
							<p>客服QQ：2182566242</p>
						</div>
						<div class="img pt-3">
							<a href="tel:400-114-6676" title="点击拨打电话"><img src="../images/tel.png" class="mr-1 mr-sm-3"/></a>
							<a href="tencent://message/?uin=2182566242" title="点击添加客服"><img src="../images/QQ.png" alt=""></a>
						</div>
					</div>
					<div class="col-12 col-md-6" id="map">
					    
					</div>
				</div>
			</div>
		</div>
		<script src="../plugins/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/swiper/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/floatAnime.js" type="text/javascript" charset="utf-8"></script>
    	<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=YWqRGCQ08zoas3GCK0feuYCU0TOgCwDC"></script>
		<script type="text/javascript">
			var windowW = window.innerWidth;
			var autoSlides = windowW < 576 ? 1.5 : 5;
			
			var about_swiper = new Swiper('.swiper-container', {
				slidesPerView: autoSlides,
				centeredSlides: true,
				initialSlide: 2,
				loop: true,
				autoplay: true,
				disableOnInteraction: false,
				pagination: {
					el: '.swiper-pagination',
			    	clickable: true,
				},
				on: {
					resize: function() {
						windowW = window.innerWidth;
						const oldSlides = autoSlides;
						autoSlides = windowW < 576 ? 1.5 : 5;
						if (autoSlides != oldSlides) {
							about_swiper.params.slidesPerView = autoSlides;
							about_swiper.update()
						}
					}
				}
			});
			
			var map = new BMap.Map("map");

			var local = new BMap.LocalSearch(map, {
				renderOptions:{map: map},
				
			});
  
			local.search("大连仟源科技有限公司长江杰座");
			

			local.setInfoHtmlSetCallback(function(data) {
				data.phoneNumber = "400-114-6676"
			})
			map.disableDragging();
			
			$(function() {
				$(".nav_iframe").load("nav.html");
			})

		</script>
	</body>
</html>
