<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>大连仟源科技官方网站</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<style type="text/css">
			.nav_li .case_link {
				color: #00d3ff;
			}
		</style>
	<body id="body" class="pb-5">
		<div class="nav_iframe wrap_bg-image fixed-top"></div>
		<!--<iframe src="nav.html" width="100%" height="70px" frameborder="0" scrolling="no" name="case" class="nav_iframe wrap_bg-image fixed-top"></iframe>-->
		<div class="case_list container text-center">
			<img src="../images/case/game_title.png" class="title_icon w-50"/>
			<div class="row">
				<div class="col-sm-6 mt-4 overflow-hidden">
					<a href="case_details.html" class="d-block animate_el" animate_type="floatdown">
						<div class="content p-4 position-relative">
							<div class="large_img m-auto w-100 position-relative">
								<img src="../images/case/game_la.png" class="w-100"/>
							</div>
							<div class="small_img m-auto position-absolute">
								<img src="../images/case/game_sm.png" class="w-100"/>
							</div>
							<p class="mt-5">绿野金刚</p>
						</div>
					</a>
				</div>
				<div class="col-sm-6 mt-4 overflow-hidden">
					<a href="case_details.html" class="d-block animate_el" animate_type="floatdown">
						<div class="content p-4 position-relative">
							<div class="large_img m-auto w-100 position-relative">
								<img src="../images/case/game_la.png" class="w-100"/>
							</div>
							<div class="small_img m-auto position-absolute">
								<img src="../images/case/game_sm.png" class="w-100"/>
							</div>
							<p class="mt-5">绿野金刚</p>
						</div>
					</a>
				</div>
				<div class="col-sm-6 mt-4 overflow-hidden">
					<a href="case_details.html" class="d-block animate_el" animate_type="floatdown">
						<div class="content p-4 position-relative">
							<div class="large_img m-auto w-100 position-relative">
								<img src="../images/case/game_la.png" class="w-100"/>
							</div>
							<div class="small_img m-auto position-absolute">
								<img src="../images/case/game_sm.png" class="w-100"/>
							</div>
							<p class="mt-5">绿野金刚</p>
						</div>
					</a>
				</div>
				<div class="col-sm-6 mt-4 overflow-hidden">
					<a href="case_details.html" class="d-block animate_el" animate_type="floatdown">
						<div class="content p-4 position-relative">
							<div class="large_img m-auto w-100 position-relative">
								<img src="../images/case/game_la.png" class="w-100"/>
							</div>
							<div class="small_img m-auto position-absolute">
								<img src="../images/case/game_sm.png" class="w-100"/>
							</div>
							<p class="mt-5">绿野金刚</p>
						</div>
					</a>
				</div>
			</div>
		</div>
		<script src="../plugins/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/floatAnime.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				$(".nav_iframe").load("nav.html");
			})
		</script>
	</body>
</html>
