<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>大连仟源科技官方网站</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<style type="text/css">
			.nav_li .case_link {
				color: #00d3ff;
			}
		</style>
	</head>
	<body id="body">
		<div class="nav_iframe wrap_bg-image fixed-top"></div>
		<!--<iframe src="nav.html" width="100%" height="70px" frameborder="0" scrolling="no" name="case" class="nav_iframe wrap_bg-image fixed-top"></iframe>-->
		<div class="type_list container pt-4">
			<div class="row">
				<div class="col-sm-6 words d-flex justify-content-center flex-column align-items-start animate_el" animate_type="leftsides">
					<h5 class="mb-0">游戏开发</h5>
					<p class="mt-4 mb-4">棋牌游戏、3D农场游戏、2D农场游戏、淘金农场小程序游戏、h5小游戏、手机小游戏、web游戏、竞猜游戏、区块链游戏</p>
					<a href="case_list.html" class="learn_more p-2 pl-4 pr-4 h6">
						<span class="align-middle ">了解更多</span>
						<img src="../images/home/arrow.png" alt=""/>
					</a>
				</div>
				<div class="col-sm-6 animate_el" animate_type="rightsides">
					<img src="../images/case/game_icon.png" class="icon m-auto w-100 d-block"/>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 words d-flex justify-content-center flex-column align-items-start animate_el" animate_type="rightsides">
					<h5 class="mb-0">系统开发</h5>
					<p class="mt-4 mb-4">Ios开发、商城系统、客服系统、直销系统、分销系统、小程序开发、微信公众号开发、Split Disk、Capital disk、Android开发、Mutual aid</p>
					<a href="case_list.html" class="learn_more p-2 pl-4 pr-4 h6">
						<span class="align-middle ">了解更多</span>
						<img src="../images/home/arrow.png" alt=""/>
					</a>
				</div>
				<div class="col-sm-6 animate_el" animate_type="leftsides">
					<img src="../images/case/system_icon.png" class="icon m-auto w-100 d-block"/>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 words d-flex justify-content-center flex-column align-items-start animate_el" animate_type="leftsides">
					<h5 class="mb-0">政府公益</h5>
					<p class="mt-4 mb-4">政府APP案例展示、大连甘井子区慈善总会案例展示、辛寨子慈善案例展示、玉川社区案例展示、英哥石中心案例展示、走进甘井子案例展示</p>
					<a href="case_list.html" class="learn_more p-2 pl-4 pr-4 h6">
						<span class="align-middle ">了解更多</span>
						<img src="../images/home/arrow.png" alt=""/>
					</a>
				</div>
				<div class="col-sm-6 animate_el" animate_type="rightsides">
					<img src="../images/case/gov_icon.png" class="icon m-auto w-100 d-block"/>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 words d-flex justify-content-center flex-column align-items-start animate_el" animate_type="rightsides">
					<h5 class="mb-0">网站建设</h5>
					<p class="mt-4 mb-4">网站定制、套餐网店建设、手机网站、小程序网站、pc网站设计、网站优化、微商城网站</p>
					<a href="case_list.html" class="learn_more p-2 pl-4 pr-4 h6">
						<span class="align-middle ">了解更多</span>
						<img src="../images/home/arrow.png" alt=""/>
					</a>
				</div>
				<div class="col-sm-6 animate_el" animate_type="leftsides">
					<img src="../images/case/web_icon.png" class="icon m-auto w-100 d-block"/>
				</div>
			</div>
			<div class="row animate_el">
				<div class="col-sm-6 words d-flex justify-content-center flex-column align-items-start animate_el" animate_type="leftsides">
					<h5 class="mb-0">区块链技术</h5>
					<p class="mt-4 mb-4">矿机、虚拟币交易平台、数字货币、钱包、以太坊、区块链+</p>
					<a href="case_list.html" class="learn_more p-2 pl-4 pr-4 h6">
						<span class="align-middle ">了解更多</span>
						<img src="../images/home/arrow.png" alt=""/>
					</a>
				</div>
				<div class="col-sm-6 animate_el" animate_type="rightsides">
					<img src="../images/case/chain_icon.png" class="icon m-auto w-100 d-block"/>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 words d-flex justify-content-center flex-column align-items-start animate_el" animate_type="rightsides">
					<h5 class="mb-0">高端服务</h5>
					<p class="mt-4 mb-4">真人农场、3D建模、AR技术、VR技术</p>
					<a href="case_list.html" class="learn_more p-2 pl-4 pr-4 h6">
						<span class="align-middle ">了解更多</span>
						<img src="../images/home/arrow.png" alt=""/>
					</a>
				</div>
				<div class="col-sm-6 animate_el" animate_type="leftsides">
					<img src="../images/case/high_icon.png" class="icon m-auto w-100 d-block"/>
				</div>
			</div>
		</div>
		<script src="../plugins/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/floatAnime.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				$(".nav_iframe").load("nav.html");
			})
		</script>
	</body>
</html>
