<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>大连仟源科技官方网站</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<style type="text/css">
			.nav_li .news_link {
				color: #00d3ff;
			}
		</style>
	</head>
	<body id="body" class="news_page pb-5">
		<div class="nav_iframe wrap_bg-image fixed-top"></div>
		<!--<iframe src="nav.html" width="100%" height="70px" frameborder="0" scrolling="no" name="news" class="nav_iframe wrap_bg-image fixed-top"></iframe>-->
		<div class="container pb-4 pb-sm-5 animate_el">
			<ol class="breadcrumb position-relative mb-0 p-3 p-sm-4">
			  <li class="breadcrumb-item active"><span>行业资讯</span></li>
			  <li class="breadcrumb-item"><span>公告</span></li>
			  <img src="../images/news/news_title_bg.png" class="position-absolute pos-br pr-2 d-none d-sm-block"/>
			</ol>
		</div>
		<div class="container pt-0">
			<div class="row m-0 info">
				<div class="col business animate_el rounded p-3 p-sm-4">
					<div class="text-secondary title pb-3">行业资讯</div>
					<div class="list-group">
						<div class="row pt-3 pb-3 m-0">
							<div class="col-sm-4 pl-0 overflow-hidden">
								<div class="img w-100 overflow-hidden animate_el" animate_type="floatleft">
									<img src="../images/news/thumimg1.png" class="w-100"/>
								</div>
							</div>
							<div class="col-sm-8 pr-0">
								<h6 class="mb-0">清明假期悄然火爆的模式币值得追涨吗？</h6>
								<p class="pt-3 pb-3">币圈一日，人间一年。就在前不久结束的清明假期，币圈的风口悄然从IEO平台币转向了模式币。</p>
								<div>2018-11-29  10:30:55</div>
							</div>
						</div>
						<div class="row pt-3 pb-3 m-0">
							<div class="col-sm-4 pl-0 overflow-hidden">
								<div class="img w-100 overflow-hidden animate_el" animate_type="floatleft">
									<img src="../images/news/thumimg1.png" class="w-100"/>
								</div>
							</div>
							<div class="col-sm-8 pr-0">
								<h6 class="mb-0">清明假期悄然火爆的模式币值得追涨吗？</h6>
								<p class="pt-3 pb-3">币圈一日，人间一年。就在前不久结束的清明假期，币圈的风口悄然从IEO平台币转向了模式币。</p>
								<div>2018-11-29  10:30:55</div>
							</div>
						</div>
						<div class="row pt-3 pb-3 m-0">
							<div class="col-sm-4 pl-0 overflow-hidden">
								<div class="img w-100 overflow-hidden animate_el" animate_type="floatleft">
									<img src="../images/news/thumimg1.png" class="w-100"/>
								</div>
							</div>
							<div class="col-sm-8 pr-0">
								<h6 class="mb-0">清明假期悄然火爆的模式币值得追涨吗？</h6>
								<p class="pt-3 pb-3">币圈一日，人间一年。就在前不久结束的清明假期，币圈的风口悄然从IEO平台币转向了模式币。</p>
								<div>2018-11-29  10:30:55</div>
							</div>
						</div>
						<div class="row pt-3 pb-3 m-0">
							<div class="col-sm-4 pl-0 overflow-hidden">
								<div class="img w-100 overflow-hidden animate_el" animate_type="floatleft">
									<img src="../images/news/thumimg1.png" class="w-100"/>
								</div>
							</div>
							<div class="col-sm-8 pr-0">
								<h6 class="mb-0">清明假期悄然火爆的模式币值得追涨吗？</h6>
								<p class="pt-3 pb-3">币圈一日，人间一年。就在前不久结束的清明假期，币圈的风口悄然从IEO平台币转向了模式币。</p>
								<div>2018-11-29  10:30:55</div>
							</div>
						</div>
						<div class="row pt-3 pb-3 m-0">
							<div class="col-sm-4 pl-0 overflow-hidden">
								<div class="img w-100 overflow-hidden animate_el" animate_type="floatleft">
									<img src="../images/news/thumimg1.png" class="w-100"/>
								</div>
							</div>
							<div class="col-sm-8 pr-0">
								<h6 class="mb-0">清明假期悄然火爆的模式币值得追涨吗？</h6>
								<p class="pt-3 pb-3">币圈一日，人间一年。就在前不久结束的清明假期，币圈的风口悄然从IEO平台币转向了模式币。</p>
								<div>2018-11-29  10:30:55</div>
							</div>
						</div>
						<div class="row pt-3 pb-3 m-0">
							<div class="col-sm-4 pl-0 overflow-hidden">
								<div class="img w-100 overflow-hidden animate_el" animate_type="floatleft">
									<img src="../images/news/thumimg1.png" class="w-100"/>
								</div>
							</div>
							<div class="col-sm-8 pr-0">
								<h6 class="mb-0">清明假期悄然火爆的模式币值得追涨吗？</h6>
								<p class="pt-3 pb-3">币圈一日，人间一年。就在前不久结束的清明假期，币圈的风口悄然从IEO平台币转向了模式币。</p>
								<div>2018-11-29  10:30:55</div>
							</div>
						</div>
						<div class="row pt-3 pb-3 m-0">
							<div class="col-sm-4 pl-0 overflow-hidden">
								<div class="img w-100 overflow-hidden animate_el" animate_type="floatleft">
									<img src="../images/news/thumimg1.png" class="w-100"/>
								</div>
							</div>
							<div class="col-sm-8 pr-0">
								<h6 class="mb-0">清明假期悄然火爆的模式币值得追涨吗？</h6>
								<p class="pt-3 pb-3">币圈一日，人间一年。就在前不久结束的清明假期，币圈的风口悄然从IEO平台币转向了模式币。</p>
								<div>2018-11-29  10:30:55</div>
							</div>
						</div>
						<div class="row pt-3 pb-3 m-0">
							<div class="col-sm-4 pl-0 overflow-hidden">
								<div class="img w-100 overflow-hidden animate_el" animate_type="floatleft">
									<img src="../images/news/thumimg1.png" class="w-100"/>
								</div>
							</div>
							<div class="col-sm-8 pr-0">
								<h6 class="mb-0">清明假期悄然火爆的模式币值得追涨吗？</h6>
								<p class="pt-3 pb-3">币圈一日，人间一年。就在前不久结束的清明假期，币圈的风口悄然从IEO平台币转向了模式币。</p>
								<div>2018-11-29  10:30:55</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col hot animate_el rounded p-3 mt-3">
					<div class="text-secondary title pb-3">热门资讯</div>
					<div class="list-group">
						<div class="pt-3 pb-3">
							<h6 class="mb-0">清明假期悄然火爆的模式币值得追涨吗？</h6>
							<p class="pt-3">币圈一日，人间一年。就在前不久结束的清明假期，币圈的风口悄然从IEO平台币转向了模式币。</p>
						</div>
						<div class="pt-3 pb-3">
							<h6 class="mb-0">清明假期悄然火爆的模式币值得追涨吗？</h6>
							<p class="pt-3">币圈一日，人间一年。就在前不久结束的清明假期，币圈的风口悄然从IEO平台币转向了模式币。</p>
						</div>
						<div class="pt-3 pb-3">
							<h6 class="mb-0">清明假期悄然火爆的模式币值得追涨吗？</h6>
							<p class="pt-3">币圈一日，人间一年。就在前不久结束的清明假期，币圈的风口悄然从IEO平台币转向了模式币。</p>
						</div>
						<div class="pt-3 pb-3">
							<h6 class="mb-0">清明假期悄然火爆的模式币值得追涨吗？</h6>
							<p class="pt-3">币圈一日，人间一年。就在前不久结束的清明假期，币圈的风口悄然从IEO平台币转向了模式币。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../plugins/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/floatAnime.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {	
				$(".nav_iframe").load("nav.html");
				$(".breadcrumb .breadcrumb-item span").click((e)=> {
					var _this = $(e.target)
					if ($(_this).hasClass("active")) return;
					console.log($(_this).parent().siblings(".active"))
					$(_this).parent().addClass("active").siblings(".active").removeClass("active")
				})
				
				$(".business .list-group>div").hover(function() {
					if ($(this).offset().left == $(this).find('.img img').offset().left) {
						$(this).find('.img img').css({
							'transform': 'scale(1.1, 1.1)',
							'transition-delay': '0s'
						});
					}
				}, function() {
					$(this).find('.img img').css({
						'transform': 'scale(1, 1)',
					});
				})
			})
		</script>
	</body>
</html>
